<div class="container new-arrivals-panel">
  <h3>Результаты поиска</h3>

  <div class="row mb-2 new-arrival">
    <div class="col-md-6" v-for="vacancy in newArrivals" :key="vacancy.id">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0 book-title">{{ vacancy.employer.name }}</h3>
            <br>
            <h4 class="d-inline-block mb-2 text-primary book-category">{{ vacancy.name }} </h4>
            <h5 class="mb-1 text-muted book-author">Местоположение: {{ vacancy.area.name }}</h5>
            <p class="card-text mb-auto book-description">{{ vacancy.snippet.responsibility }}</p>
            
            <div class="input-group">
              <span class="price">
                <input type="text" 
                :value="vacancy.salary ? vacancy.salary.from   + (vacancy.salary.to ?   ' - ' + vacancy.salary.to : '') : 'Не указано'"
                
                :style="{ '--currency': vacancy.salary ? vacancy.salary.currency : '' }"
                class="form-control"  readonly aria-label="">
              </span>
            </div>
            <a :href="vacancy.alternate_url" target="_blank">Ссылка</a>
          </div>
        </div>
    </div>
  </div>
</div>
