.new-arrivals-panel h3 {
  text-align: center;
  color: #ee5252;
  font-size: 40px;
  font-weight: 100;
}


.new-arrival .col-md-6 {
  min-height: 298px;
}
.new-arrival .border {
  border-color: rgba(255,255,255,.3)!important;
}
.new-arrival .book-thumbnail {
  background-color: rgba(255,255,255);
  padding: 10px;
}
.new-arrival .book-thumbnail img {
  height: 250px
}
.new-arrival .book-category {
  color: #eeac9c !important;
}
.new-arrival .book-title {
  color: #f04e4e !important;
  text-decoration: none;
}


a {
  /* color: #ccc; */
  color: #ee9ce7;
  text-decoration: none;
}
a:hover {
  /* color: #ccc; */
  color: #ee5252;
}

.new-arrival .book-author {
  color: #e7bebe !important;
  font-weight: 400;
}
.new-arrival .book-description {
  color: #ccc !important;
}
.new-arrival .input-group .price:before {
  content: '₽';
  z-index: 1;
  display: inline-block;
  color: #ccc;
  left: 0px;
  top: 15px;
  width: 30px;
  height: 20px;
  font-size: 18px;
  max-height: 13em;
  position: absolute;
  font-weight: 600;
}

.new-arrival .input-group input[type=text] {
  flex: none;
  width: auto;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  color: #E4E4E4;
  font-size: 18px;
  padding-top: 15px;
  padding-left: 15px;
  font-weight: 600;
}
